<a href="https://colab.research.google.com/github/ankay212000/Data-Mining-and-Analysis-Practical/blob/main/Exercise1_UE183065.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q.Open the Python IDLE and execute the following commands**
* 10 + 15
* print("Hello World") 
* 45 -34
* 8 * 2
* print("Rahul's age is", 45)
* print("I have", 10, "mangoes and", 12, "bananas")

In [ ]:
10+15

25

In [ ]:
print("Hello World")

Hello World

In [ ]:
45-34

11

In [ ]:
8*2

16

In [ ]:
print("Rahul's age is",45)
print("I have",10,"mangoes and",12,"bananas")

Rahul's age is 45
I have 10 mangoes and 12 bananas

# **Q. Execute the following**

emp_number = 1233

print("Employee Number:", emp_number)

emp_salary = 16745.50

emp_name = "Jerry Squaris"

print("Employee Salary and Name:", emp_salary, emp_name)

emp_salary = 23450.34>print("Updated Employee Salary:", emp_salary)

In [ ]:
emp_number=1233
print("Employee Number:",emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

# **Q. Observe the output of following**

customer_id = 101

type(customer_id)

customer_name = "John" 

type(customer_name)

bill_amount = 675.45 

type(bill_amount )

x = 5.3 + 0.9j 

type(x)

print(customer_id, customer_name, bill_amount) 

print(x.real) 

print(x.imag + 3) 

Flag = True

type(Flag)

y = "False"

In [ ]:
customer_id = 101
type(customer_id)

int

In [ ]:
customer_name = "John" 
type(customer_name)

str

In [ ]:
bill_amount = 675.45 
type(bill_amount )

float

In [ ]:
x = 5.3 + 0.9j 

print(type(x))
print(customer_id, customer_name, bill_amount) 
print(x.real) 
print(x.imag + 3)

<class 'complex'>
101 John 675.45
5.3
3.9

In [ ]:
Flag = True
type(Flag)

bool

In [ ]:
y = "False"

#**Q. In a retail application, shopkeeper wants to keep a track of following details of a customer. Sample values are provided.**
* bill_id = 101
* customer_id = 1001
* customer_name = "Rahul"
* if_minor = False
* bill_amount = 2000.50

**Write a python program to store the details and display them**.

In [ ]:
# Sir I know that we haven't read classes in practical class, but I never used classes in my regular coding and 
# found this piece of instruction apt for using classes, so I solved it using classes.

# Otherwise it can be solved easily by dictionary using bill id as key and a list of other values as list or
# maintaing 5 lists for fields 

class customer:
  def __init__(self,bill_id,customer_id,customer_name,if_minor,bill_amount):
    self.bill_id=bill_id
    self.customer_id=customer_id
    self.customer_name=customer_name
    self.if_minor=if_minor
    self.bill_amount=bill_amount

customer1=customer(101,1001,"Rahul",False,2000.50)
print("Customer Details: ")
print("Bill ID: ",customer1.bill_id)
print("Customer ID: ",customer1.customer_id)
print("Customer Name: ",customer1.customer_name)
print("Is Customer Minor: ",customer1.if_minor)
print("Bill amount: ",customer1.bill_amount)

Customer Details:
Bill ID:  101
Customer ID:  1001
Customer Name:  Rahul
Is Customer Minor:  False
Bill amount:  2000.5

#**Q. Write a Python program for the following requirements:**
* Prompt the user to input two numbers num1 and num2
* Increment num1 by 4 and num2 by 6
* Find and print the sum of new values of num1 and num2

In [ ]:
num1=int(input("Enter First number: "))
num2=int(input("Enter Second42 number: "))
print("sum: ",num1+num2)
num1+=4
num2+=6
print("New value of num1: ",num1," num2: ",num2)
print("New sum: ",num1+num2)

Enter First number: 23
Enter Second number: 42
sum:  65
New value of num1:  27  num2:  48
New sum:  75

# **Q. Consider two variables 'a' and 'b' in Python such that a = 4 and b = 5. Swap the values of 'a' and 'b' without using a temporary variable. Print the values of 'a' and 'b' before and after swapping.**

In [ ]:
a=4
b=5
print("Before swap:\na: ",a," b: ",b)
a,b=b,a
print("After swap:\na: ",a," b: ",b)

Before swap:
a:  4  b:  5
After swap:
a:  5  b:  4

# **Q. Consider the scenario of processing marks of a student in ABC Training Institute. John, the student of fifth grade takes exams in three different subjects. Create three variables to store the marks obtained by John in three subjects. Find and display the average marks scored by John.Now change the marks in one of the subjects and observe the output. Did the value of average change. Write a Python program to implement this.**

In [ ]:
sub1=int(input("Marks in Subject1: "))
sub2=int(input("Marks in Subject2: "))
sub3=int(input("Marks in Subject3: "))
avg=(sub1+sub2+sub3)/3
print("Avergage of marks obtained: ",avg)
sub1=int(input("New marks in Subject1: "))
avg=(sub1+sub2+sub3)/3
print("New avergage of marks obtained: ",avg)

Marks in Subject1: 33
Marks in Subject2: 33
Marks in Subject3: 33
Avergage of marks obtained:  33.0
New marks in Subject1: 32
New avergage of marks obtained:  32.666666666666664

# **Q. Given the value of radius of a circle, write a Python program to calculate the area and perimeter of the circle.Display both the values.**

In [ ]:
radius=int(input("Enter the radius of cicle: "))
area=22/7*(radius**2)
perimeter=2*22/7*radius
print(f"Area of circle: {area}\nPerimeter of cirlce:{perimeter}")

Enter the radius of cicle: 7
Area of circle: 154.0
Perimeter of cirlce:44.0

#**Q.** **The finance department of a company wants to compute the monthly pay of its employees. Monthly pay should be calculated as mentioned in the formula below. Display all the employee details.**

**Monthly Pay = Number of hours worked in a week x Pay rate perhour x No. of weeks in a month**
* The number of hours worked by the employee in a week should be considered as 40
* Pay rate per hour should be considered as Rs.400 
* Number of weeks in a month should be considered as 4

**Write a Python program to implement the above real world problem.**

In [ ]:
hours=40
pay_rate=400
weeks=4
print("Monthly pay: Rs",hours*pay_rate*weeks)

Monthly pay: Rs 64000

# **Q. Implement the following in Python:**
* Display all even numbers between 50 and 80 (both inclusive) using "for" loop.* Add natural numbers up to n where n is taken as an input from user. Print the sum.
* Prompt the user to enter a number.
* Print whether the number is prime or not.
* Print Fibonacci series till nth term where n is taken as an input from user

In [ ]:
def even_num(start,end):
  print("All the required even numbers: ")    
  for i in range(start,end+1,2):
    print(i,end=" ")
  print()  

def is_prime(n):
  i=2
  while(i*i<=n):
    if(n%i==0):
      return False
    i+=1  
  return True

def take_input():
  n=int(input("Enter a number: "))
  return is_prime(n)

def fibonacci(n):
  fib=[0]*(n+1) 
  fib[1]=1
  for i in range(2,n+1):
    fib[i]=fib[i-1]+fib[i-2]

  return fib[n]

even_num(50,80)
if(take_input()):
  print("It is a prime number")
else:
  print("Not a prime number")  

n=int(input("Enter n to get nth fibonacci number: "))
print(f"{n}th fibonacci number considering series starts from 1: {fibonacci(n)}")

All the required even numbers:
50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80
Enter a number: 17
It is a prime number
Enter n to get nth fibonacci number: 7
7th fibonacci number considering series starts from 1: 13