<a href="https://colab.research.google.com/github/ankay212000/Data-Mining-and-Analysis-Practical/blob/main/Exercise4_UE183065.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console.** 

The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. 

The priority is that name > age > score.

If the following tuples are given as input to the program:

>Tom,19,80

>John,20,90

>Jony,17,91

>Jony,17,93

>Json,21,85

Then, the output of the program should be:

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [2]:
num_entries=int(input("Number of entries: "))
User_info=[]
for i in range(num_entries):
  name,age,score=input().split(",")
  User_info.append((name,age,score))

sorted_user_info=sorted(User_info,key=lambda info:(info[0],info[1],info[2]))
print("Required sorted User Info: ")
print(sorted_user_info)

Number of entries: 4
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Required sorted User Info:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Tom', '19', '80')]

**Question 2: Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.**

In [ ]:
def freq(sent):
  net_tokens=[]
  for sentence in sent:
    tokens=sentence.split(" ");
    net_tokens.append(tokens)
  
  word_freq={}

  for i in net_tokens:
    for j in i:
      if(j not in word_freq.keys()):
        word_freq[j]=1
      else:
        word_freq[j]+=1
  return word_freq        

n=int(input("Enter number of lines you want to type: "))
set_ofSentence=[]
for _ in range(n):
  User_sentence=input("Enter sentence: ")
  set_ofSentence.append(User_sentence)
print("\nRequired frequency graph: \n")

res=freq(set_ofSentence)

for i in res.keys():
  print(i,end=": ")
  print(res[i])

Enter number of lines you want to type: 4
Enter sentence: Calculate Word Frequencies
Enter sentence: Take a set of sentences in a string as an input
Enter sentence: Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary
Enter sentence: Produce a frequency table

Required frequency graph:

Calculate: 1
Word: 1
Frequencies: 1
Take: 1
a: 5
set: 1
of: 3
sentences: 1
in: 2
string: 1
as: 1
an: 1
input: 1
Count: 1
each: 1
unique: 1
occurrence: 2
word: 1
and: 2
calculate: 1
frequency: 2
store: 1
dictionary: 1
Produce: 1
table: 1

**Question 3: Result Calculation. Create a dictionary and a list like following.**

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students

Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), ('UE183003', 'CS', 64)] 

Add some more values

Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [7]:
import random

Students = {
    'UE183001':'Avish',
    'UE183002':'Bhavya',
    'UE183003':'Tanya',
    'UE183004':'Nitish',
    'UE183005':'Razaul',
    'UE183006':'Vineet',
    'UE183007':'Dimple',
    'UE183008':'Pavit',
    'UE183009':'Peeyush',
    'UE183010':'Rahul'
}

Marks=[
       ('UE183001','CS',88),('UE183001','DMA',90),('UE183001','LAPT',99),('UE183001','CD',90),
       ('UE183002','CS',98),('UE183002','DMA',91),('UE183002','LAPT',98),('UE183002','CD',91),
       ('UE183003','CS',97),('UE183003','DMA',92),('UE183003','LAPT',72),('UE183003','CD',92),
       ('UE183004','CS',96),('UE183004','DMA',93),('UE183004','LAPT',96),('UE183004','CD',86),
       ('UE183005','CS',95),('UE183005','DMA',88),('UE183005','LAPT',95),('UE183005','CD',87),
       ('UE183006','CS',73),('UE183006','DMA',95),('UE183006','LAPT',94),('UE183006','CD',88),
       ('UE183007','CS',93),('UE183007','DMA',96),('UE183007','LAPT',89),('UE183007','CD',96),
       ('UE183008','CS',92),('UE183008','DMA',97),('UE183008','LAPT',97),('UE183008','CD',96),
       ('UE183009','CS',91),('UE183009','DMA',98),('UE183009','LAPT',91),('UE183009','CD',98),
       ('UE183010','CS',90),('UE183010','DMA',99),('UE183010','LAPT',90),('UE183010','CD',99)
]

random.shuffle(Marks)

Info={}
for roll in Students.keys():
  Info[roll]=0

for (name,sub,mark) in Marks:
  Info[name]+=mark 

print("Information of Students: \n")
for i in Info.keys():
  print("Roll no.: ",i)
  print("Name: ",Students[i],end="\n")
  print("Total Marks: ",Info[i])
  print("Out of: ",400)
  print()

Information of Students:

Roll no.:  UE183001
Name:  Avish
Total Marks:  367
Out of:  400

Roll no.:  UE183002
Name:  Bhavya
Total Marks:  378
Out of:  400

Roll no.:  UE183003
Name:  Tanya
Total Marks:  353
Out of:  400

Roll no.:  UE183004
Name:  Nitish
Total Marks:  371
Out of:  400

Roll no.:  UE183005
Name:  Razaul
Total Marks:  365
Out of:  400

Roll no.:  UE183006
Name:  Vineet
Total Marks:  350
Out of:  400

Roll no.:  UE183007
Name:  Dimple
Total Marks:  374
Out of:  400

Roll no.:  UE183008
Name:  Pavit
Total Marks:  382
Out of:  400

Roll no.:  UE183009
Name:  Peeyush
Total Marks:  378
Out of:  400

Roll no.:  UE183010
Name:  Rahul
Total Marks:  378
Out of:  400

Question 4: A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [ ]:
months={
    'JAN':'01',
    'FEB':'02',
    'MAR':'03',
    'APR':'04',
    'MAY':'05',
    'JUN':'06',
    'JUL':'07',
    'AUG':'08',
    'SEP':'09',
    'OCT':'10',
    'NOV':'11',
    'DEC':'12'
}

def transform(format_date):
  date,month,year=format_date.split("-")
  date=int(date)

  if(year<='21'):
    year='20'+year
  else:
    year='19'+year

  res=(year,months[month],date)
  return res


print("Date format date-month-year\n")
print("For ex: 8-MAR-85\n")

format_date=input("Enter Date: ")
print(transform(format_date))

Date format date-month-year

For ex: 8-MAR-85

Enter Date: 9-APR-15
('2015', '04', 9)


**Question 5: Dice Odds. There are 36 possible combinations of two dice. A simple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice.**

The general outline is something like the following:

```
d= {}
Loop with d1 from 1 to 6
    Loop with d2 from 1 to 6
        newTuple ← ( d1, d2 ) # create the tuple
        oldList ← dictionary entry for sum d1+d2
        newList ← oldList + newTuple
        replace entry in dictionary with newList
```

Loop over all values in the dictionary

print the key and the length of the list

In [ ]:
sum_dict={}
for i in range(1,7):
  for j in range(1,7):
    if (i+j) not in sum_dict.keys():
      sum_dict[i+j]=[(i,j)]
    else:
      sum_dict[i+j].append((i,j))

print("Sum\tLength of List")
for i in sum_dict.keys():
  print(i,end=": \t")
  print(len(sum_dict[i]))

Sum	Length of List
2: 	1
3: 	2
4: 	3
5: 	4
6: 	5
7: 	6
8: 	5
9: 	4
10: 	3
11: 	2
12: 	1